#wrapper {
    height: calc(var(--real-vh) * 100);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    overflow:-moz-hidden-unscrollable;
}

#textBubble {
    background-color: white;
    height: auto;
    width: 80%;
    max-width: 300px;
    border-radius: 20px;
    padding: 5%;
    margin-top: -70%;
}

#arrowContainer {
    background-color: white;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 90%;
    left: 80vw;
    border-radius: 10px;
}