#wrapper {
    height: calc(var(--real-vh) * 100);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    overflow: hidden; 
    position: relative;
}

#textBubble {
    position: absolute;
    top: 14vh;
    background-color: white;
    width: 80%;
    max-width: 300px;
    border-radius: 20px;
    padding: 5%;
    /* margin-top: 160%; */
}

#textBubbleText {
    height: 10vh;
}

#arrowRightContainer {
    background-color: white;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 80%;
    left: 80vw;
    border-radius: 10px;
}

#arrowLeftContainer {
    background-color: white;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 80%;
    left: 8vw;
    border-radius: 10px;
    transform: rotate(180deg);
}