#personSpeakingImgJohannes {
  position: absolute;
  top: 20vh;
  left: 0vw;
  max-width: 180vw;
  max-height: 100vh;
  width: auto;
  height: auto;
}

#personSpeakingImgOlle {
  position: absolute;
  top: 46vh;
  left: -50vw;
  max-width: 150vw;
  max-height: 80vh;
  width: auto;
  height: auto;
}

#personSpeakingImgThomas {
  position: absolute;
  top: 25vh;
  left: -10vw;
  max-width: 180vw;
  max-height: 100vh;
  width: auto;
  height: auto;
}

#personSpeakingImgMaria {
  position: absolute;
  top: 25vh;
  left: 0vw;
  max-width: 180vw;
  max-height: 100vh;
  width: auto;
  height: auto;
}

#personSpeakingImgAlbin {
  position: absolute;
  top: 45vh;
  left: -5vw;
  max-width: 110vw;
  max-height: 60vh;
  width: auto;
  height: auto;
}

#personSpeakingImgGoran {
  position: absolute;
  top: 46vh;
  left: 3vw;
  max-width: 110vw;
  max-height: 60vh;
  width: auto;
  height: auto;
}

#personSpeakingImgKerstin {
  position: absolute;
  top: 45vh;
  left: 30vw;
  max-width: 90vw;
  max-height: 50vh;
  width: auto;
  height: auto;
}

#personSpeakingImgErik {
  position: absolute;
  top: 45vh;
  left: 29vw;
  max-width: 90vw;
  max-height: 60vh;
  width: auto;
  height: auto;
}

#riddleContainer {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #846141;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 30vh;
  margin-bottom: 0;
  max-width: 60vw;
  color: white;
}

#answerInputContainer {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #846141;
  padding: 30px;
  margin-top: 0;
  width: 60vw;

}

#answerInputField {
  height: 2rem;
  width: 10rem;
}

#personSpeakingImgJohannes,
#personSpeakingImgOlle,
#personSpeakingImgMaria,
#personSpeakingImgThomas,
#personSpeakingImgGoran,
#personSpeakingImgAlbin,
#personSpeakingImgKerstin,
#personSpeakingImgErik {
  transition: top 0.5s ease, left 0.5s ease, opacity 0.3s ease;
}