#personSpeakingImgJohannes {
  position: absolute;
  top: 40vh;
  left: 20vw;
}

#personSpeakingImgOlle {
  position: absolute;
  top: 46vh;
  left: -50vw;
  max-width: 150vw;
  max-height: 80vh;
  width: auto;
  height: auto;
}

#personSpeakingImgThomas {
  position: absolute;
  top: 50vh;
  left: 20vw;
  max-width: 150vw;
  max-height: 80vh;
  width: auto;
  height: auto;
}

#personSpeakingImgMaria {
  position: absolute;
  left: 9vh;
  width: 81vw;
  height: 40vh;
  top: 60vh;
}

#personSpeakingImgJohannes,
#personSpeakingImgOlle,
#personSpeakingImgMaria,
#personSpeakingImgThomas,
#personSpeakingImgGöran,
#personSpeakingImgAlbin {
  transition: top 0.5s ease, left 0.5s ease, opacity 0.3s ease;
}