#personSpeakingImgJohannes {
  position: relative;
  top: 30vh;
  left: 0vw;
  max-width: 180vw;
  max-height: 100vh;
  width: auto;
  height: auto;
}

#personSpeakingImgOlle {
  position: relative;
  top: 45vh;
  left: -30vw;
  max-width: 150vw;
  max-height: 80vh;
  width: auto;
  height: auto;
}

#personSpeakingImgThomas {
  position: relative;
  top: 25vh;
  left: 10vw;
  max-width: 180vw;
  max-height: 100vh;
  width: auto;
  height: auto;
}

#personSpeakingImgMaria {
  position: relative;
  top: 15vh;
  left: 20vw;
  max-width: 180vw;
  max-height: 100vh;
  width: auto;
  height: auto;
}

#personSpeakingImgAlbin {
  position: fixed;
  top: 50vh;
  left: 30vw;
  max-width: 110vw;
  max-height: 60vh;
  width: auto;
  height: auto;
}

#personSpeakingImgGoran {
  position: fixed;
  top: 45vh;
  left: 23vw;
  max-width: 110vw;
  max-height: 60vh;
  width: auto;
  height: auto;
}

#personSpeakingImgKerstin {
  position: fixed;
  top: 45vh;
  left: 33vw;
  max-width: 90vw;
  max-height: 50vh;
  width: auto;
  height: auto;
}

#personSpeakingImgErik {
  position: fixed;
  top: 43vh;
  left: 30vw;
  max-width: 90vw;
  max-height: 60vh;
  width: auto;
  height: auto;
}

#riddleContainer {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #846141;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 30vh;
  margin-bottom: 0;
  max-width: 60vw;
  color: white;
  position: fixed;
  top: 30px;
  width: 60vh;
}

#answerInputContainer, #phoneButton {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #846141;
  padding: 30px;
  margin-top: 0;
  width: 60vw;
  position: fixed;
}

#answerInputField {
  height: 2rem;
  width: 10rem;
}

#personSpeakingWrapper {
  position: relative;
  overflow-y: clip;
  height: 100dvh;
}

#personSpeakingImgJohannes,
#personSpeakingImgOlle,
#personSpeakingImgMaria,
#personSpeakingImgThomas,
#personSpeakingImgGoran,
#personSpeakingImgAlbin,
#personSpeakingImgKerstin,
#personSpeakingImgErik {
  transition: top 0.5s ease, left 0.5s ease, opacity 0.5s ease;
}