html, body {
  height: 100svh;
  margin: 0;
}

body {
  touch-action: none;
  background-image: url(images/work.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column; 
  min-height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Segoe UI", Arial, sans-serif;
  backdrop-filter: blur(10px);
}