html, body {
  height: 100%;
  margin: 0;
}

body {
  touch-action: none;
  background-image: url(images/work.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column; 
  min-height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Segoe UI", Arial, sans-serif;
  backdrop-filter: blur(10px);
}

#topContainer {
  display: flex;
  justify-content: space-between;
  margin: 10px 22px 0 22px;
  color: white;
  margin-top: 18px;
  z-index: 10000;
}

#apps {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  /* margin: 70px 20px; */
  margin-top: 70px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  place-items: center;
}

.appCard {
  height: 62px;
  width: 62px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 36px;
  border-radius: 20px;
}

.appIcon {
  height: 62px;
  width: 62px;
  background-color: white;
  border-radius: 15px;
}

#bottomContainer {
  height: 90px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  background-color: rgb(188, 188, 188, 0.5);
  border-radius: 25px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* margin-top: auto; */
  place-items: center;
}

#bottomContainer .appCard {
  margin-top: 12px;
}

#iconContainer {
  display: flex;
  height: 20px;
  gap: 5px;
  width: 75px;
}

.time {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.appText {
  margin: 4px;
  font-size: 11px;
  color: white;
}


#toastContainer {
  position: fixed;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 9999;
  pointer-events: none;
}

.notificationToast {
  background-color: rgba(50, 50, 50, 0.95);
  color: white;
  padding: 12px 20px;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  font-family: sans-serif;
  width: 318px;
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.4s ease-in-out;
  display: flex;
  justify-content: center;
}

.notificationToast.show {
  opacity: 1;
  transform: translateY(0);
}
