#map {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100vw !important;
    height: 840px !important;
    z-index: 1000 !important;
    background: #f0f0f0 !important;
}

  
#mapReturnButton {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
    background: white;
    border: none;
    font-size: 1.5rem;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 8px;
  }