#startGame {
    position: fixed;
    inset: 0;
    background-image: url(../images/blood.gif);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  #startButton {
    padding: 15px 30px;
    font-size: 18px;
    background-color: rgba(184, 15, 47, 0.8);
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  #prologContainer {
    position: fixed;
    inset: 0;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 10000;
  }
  
  #prologText {
    color: white;
    font-size: 24px;
    max-width: 300px;
    text-align: center;
    white-space: pre-wrap;
    padding: 40px;
    font-family: "Poppins-LightItalic";
    transform: translateY(100%);
  }
  
  @font-face {
    font-family: 'Poppins-LightItalic';
    src: url('../fonts/Poppins/Poppins-LightItalic.ttf');
  }