.app_animation {
    position: absolute;
    z-index: 10;
    box-sizing: border-box;
    overflow: hidden;
    transition: 
        left 0.2s ease-in-out,
        top 0.2s ease-in-out,
        width 0.2s ease-in-out,
        height 0.2s ease-in-out,
        border-radius 0.2s ease-in-out;
}

.app_close_btn {
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    font-size: 30px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    z-index: 20;
}