#phoneDiv {
    background: linear-gradient(to bottom, #3a3a3a, #595959);
    display: flex;
    justify-content: center;
    align-items: center;
}

#phoneWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#imageOfCallerElement {
    border-radius: 50%;
    height: 14rem;
    width: 14rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#timerAndNameContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#timerElement {
    color: grey;
    font-size: large;
}

#nameElement {
    color: white;
    font-size: larger;
    margin: 0;
}

#selectionWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    justify-items: center;
    align-items: center;
}

#selectionWrapper > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#selectionWrapper > div > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6B6B6B;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}

#iconWrapperWrapper5 {
    background-color: transparent !important;
    cursor: pointer;
}

#endCallIcon {
    height: 4rem;
    width: 4rem;
}

.phoneSelectionIcon {
    color: white;
    height: 2rem;
    width: 2rem;
}